{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
Login - BMNC
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login_page1.css' %}">
{% endblock %}

{% block content %}
<div class="all-content" style="margin-top:40px">
  <div class="centered-vertical">
    <div class="container">
      <div class="row">

        <div class="col-sm-8 col-sm-offset-2">
          <div class="row">
            <div class="col-sm-5 padding-0">
              <div class="content-box">
                  <div class="login-text-intro">
                    <h3>Login first</h3>
                    <div class="reg">
                      <p>Don't have an account? <a href="/login/register/">Register</a> first!</p>
                    </div>
                  </div>

              </div>
            </div>
            <div class="col-sm-7 padding-0">
              <div class="login-form">
                <div class="form-content">
                  <div class="custom">
                    <form method="POST" action="{% url 'apps-login:login-data' %}">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="{{ login_form.username.id_for_label }}">{{login_form.username.label}}</label>
                        {{login_form.username}}
                      </div>
                      <div class="form-group">
                        <label for="{{ login_form.password.id_for_label }}">{{login_form.password.label}}</label>
                        {{login_form.password}}
                      </div>
                      <input type="submit" value="Login" class="btn  btn-default">
                    </form>
                  </div>

                  <div class="reg-again text-center">
                    <hr class="style14">
                    <p>Don't have an account? <a href="/login/register/">Register</a> first!</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
          </div>


      </div>
    </div>

  </div>
</div>

{% endblock %}
