{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
Register - BMNC
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login_page1.css' %}">
<style>
.notif {
  display: none;
  color: red;
}
.notif-npm {
  display: none;
  color: red;
}
.notif-role {
  display: block;
  color: #777;
}
.notif-pwd {
  color: #777;
}
#jurusan {
  display: none;
}
#posisi {
  display: none;
}
#status {
  display: none;
}
</style>
{% endblock %}

{% block content %}
<div class="all-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="title-div">
          <h3>Create an account</h3>
        </div>
        <div class="reg-form">
          <div class="form-content">
            <div class="custom">



              <form method="POST" action="{% url 'apps-login:register-narasumber' %}">
                {% csrf_token %}
                {% if reg_form.errors %}
                  <div class="alert alert-error">
                      <ul>
                          {% for error in reg_form.non_field_errors %}
                              <li>{{ error }}</li>
                          {% endfor %}
                      </ul>
                  </div>
              {% endif %}
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="{{ reg_form.username.id_for_label }}">{{reg_form.username.label}}<span style="color:red">*</span></label>
                      {{reg_form.username}}
                      <div class="notif">
                        <small>Username yang anda masukkan tidak tersedia. Coba yang lain.</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="{{ reg_form.password.id_for_label }}">{{reg_form.password.label}}<span style="color:red">*</span></label>
                      {{reg_form.password}}
                      <div class="notif-pwd">

                      </div>
                    </div>
                  </div>
                </div>
                <hr class="style14" style="opacity:0.4">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="{{ reg_form.role.id_for_label }}">{{reg_form.role.label}}<span style="color:red">*</span></label>
                      {{reg_form.role}}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="{{ reg_form.nomor_identitas.id_for_label }}">{{reg_form.nomor_identitas.label}}<span style="color:red">*</span></label>
                      {{reg_form.nomor_identitas}}
                      <div class="notif-npm">
                        <small>Nomor identitas yang anda masukkan tidak tersedia. Coba yang lain.</small>
                      </div>
                      <div class="notif-role">
                        <small>Harap isi <i>field</i> Role terlebih dahulu sebelum mengisi nomor identitas</small>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="style14" style="opacity:0.4">

                <div class="form-group">
                  <label for="{{ reg_form.nama.id_for_label }}">{{reg_form.nama.label}}<span style="color:red">*</span></label>
                  {{reg_form.nama}}
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="{{ reg_form.email.id_for_label }}">{{reg_form.email.label}}<span style="color:red">*</span></label>
                      {{reg_form.email}}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="{{ reg_form.no_hp.id_for_label }}">{{reg_form.no_hp.label}}</label>
                      {{reg_form.no_hp}}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="{{ reg_form.tempat.id_for_label }}">{{reg_form.tempat.label}}<span style="color:red">*</span></label>
                      {{reg_form.tempat}}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="{{ reg_form.tanggal.id_for_label }}">{{reg_form.tanggal.label}}<span style="color:red">*</span></label>
                      {{reg_form.tanggal}}
                    </div>
                  </div>
                </div>



                <hr class="style14" style="opacity:0.4">
                <!--if dosen or staf-->
                <div class="form-group" id="univ">
                  <label for="{{ reg_form.id_universitas.id_for_label }}">{{reg_form.id_universitas.label}}<small style="color:red">*</small></label>
                  {{reg_form.id_universitas}}
                  <div class="notif-status">
                    <small>Harap isi <i>field</i> Role terlebih dahulu.</small>
                  </div>
                </div>
                <!--if mahasiswa-->
                <div class="form-group" id="status">
                  <label for="{{ reg_form.status.id_for_label }}">{{reg_form.status.label}}<small id="wajibstatus" style="color:red">*</small></label>
                  {{reg_form.status}}
                  <div class="notif-status">
                    <small>Harap isi <i>field</i> Role terlebih dahulu.</small>
                  </div>
                </div>
                <div class="form-group" id="jurusan">
                  <label for="{{ reg_form.jurusan.id_for_label }}">{{reg_form.jurusan.label}}<small id="wajibjurusan" style="color:red">*</small></label>
                  {{reg_form.jurusan}}
                  <div class="notif-status">
                    <small>Harap isi <i>field</i> Role terlebih dahulu.</small>
                  </div>
                </div>
                <div class="form-group" id="posisi">
                  <label for="{{ reg_form.posisi.id_for_label }}">{{reg_form.posisi.label}}<small id="wajibposisi" style="color:red">*</small></label>
                  {{reg_form.posisi}}
                  <div class="notif-status">
                    <small>Harap isi <i>field</i> Role terlebih dahulu.</small>
                  </div>
                </div>


                <hr class="style14" style="opacity:0.1">
                <div class="row">
                  <div class="col-sm-12">
                    <input type="submit" value="Register!" class="btn btn-block btn-lg btn-default">
                    <!--<button id="submit" type="submit" class="btn btn-block btn-lg btn-default">Submit</button>-->
                  </div>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<!--<select name="one" onchange="if (this.value=='other'){this.form['other'].style.visibility='visible'}else {this.form['other'].style.visibility='hidden'};">-->
<script type="text/javascript">
$(document).ready(function(){
  $('#id_role').change(function() {
    //$("#id_status").attr('disabled',false)
    $("#id_nomor_identitas").attr('disabled',false)
    $('.notif-role').css('display','none');
    $('.notif-status').css('display','none');
    $("#id_id_universitas").attr('disabled',false);
    //$("#id_posisi").attr('disabled',true);
    $("#id_posisi").attr({disabled: true, required: false});
    $("#id_jurusan").attr({disabled: true, required: false});
    $("#id_status").attr({disabled: true, required: false});
    //$("#id_jurusan").attr('disabled',true);
    $('#wajibstatus').css('display','inline-block');
    $('#wajibposisi').css('display','inline-block');
    $('#wajibjurusan').css('display','inline-block');

    $('#jurusan').css('display','none');
    $('#status').css('display','none');
    $('#posisi').css('display','none');
    console.log(this.value);
    if (this.value == 'dosen') {
      //$("#id_status").attr('disabled',true)
      $("#id_jurusan").attr({disabled: false, required: true});
      $('#wajibstatus').css('display','none');
      $('#wajibposisi').css('display','none');
      $('#jurusan').css('display','block');
    }
    else if(this.value == 'staf') {
      //$("#id_status").attr('disabled',true)
      $("#id_posisi").attr({disabled: false, required: true});
      $('#wajibstatus').css('display','none');
      $('#wajibjurusan').css('display','none');
      $('#posisi').css('display','block');
    }
    else if (this.value == 'mahasiswa') {
      $("#id_status").attr({disabled: false, required: true});
      $('#wajibjurusan').css('display','none');
      $('#wajibposisi').css('display','none');
      $('#status').css('display','block');
    }
  })
  $('#id_username').change(function() {
    $('.notif').css('display','none');
    username = $(this).val();
    $.ajax({
      method: "POST",
      url: '{% url "apps-login:validate-username" %}',
      data: {
        'username': username
      },
      dataType: 'json',
      success: function(data) {
        console.log(data)
        if (data.uname_is_taken) {
          $('.notif').css('display','block');
        }
      },
      error: function (rs, e) {
					alert(rs.responseText);
			}
    })
  })
  $('#id_nomor_identitas').change(function() {
    $('.notif-npm').css('display','none');
    $('.notif-role').css('display','none');
    npm = $(this).val();
    role = $('#id_role').val();
    url_validate = "/login/validate-npm/";
    console.log(url_validate)
    $.ajax({
      method: "POST",
      url: url_validate,
      data: {
        'npm': npm,
        'role': role
      },
      dataType: 'json',
      success: function(data) {
        console.log(data)
        if (data.uname_is_taken) {
          $('.notif-npm').css('display','block');
        }
      },
      error: function (rs, e) {
					alert(rs.responseText);
			}
    })
  })
  $('#id_password').change(function() {
    $('.notif-pwd').css('display','none');
    password = $(this).val();
    $.ajax({
      method: "POST",
      url: '{% url "apps-login:validate-pwd" %}',
      data: {
        'password': password
      },
      dataType: 'json',
      success: function(data) {
        console.log(data)
        if (data.list_of_notif.length>0) {
          console.log(data.list_of_notif)
          $('.notif-pwd').css('display','block');
          for (i = 0; i<data.list_of_notif.length; i++) {
            var txt = "<p><small>"+data.list_of_notif[i]+"</small></p>";
            console.log(txt);
            $('.notif-pwd').append(txt)
          }
        }
      },
      error: function (rs, e) {
					alert(rs.responseText);
			}
    })
  })
})

</script>
{% endblock %}
