.centered-thing-custom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.centered-vertical {
  padding-top: 0px;
}
.content-box {
  background: #781E36;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #B1103C, #781E36);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #B1103C, #781E36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  -moz-box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  color: #f9f9f9;
  height: 350px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 25px;
}
.login-text-intro {
  padding: 20px;
}
.custom {
  padding: 20px;
}
.login-form {
  background: #f9f9f9;  /* fallback for old browsers */
  -webkit-box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  -moz-box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  color: #333;
  height: 350px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 5px;
}
.padding-0{
  padding-right:0;
  padding-left:0;
}
.form-content {
  padding: 20px;
}
.btn-custom {
  background: #667172;
  color: white;
}
a {
  color: grey;
}
a:hover {
  color: white;
  background: #667172;
  text-decoration: none;
}
.reg-again {
  display: none;
}
.reg-form {
  background: #f9f9f9;  /* fallback for old browsers */
  -webkit-box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  -moz-box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  color: #333;
  min-height: 350px;
  margin-bottom: 60px;
}
.title-div {
  background: #781E36;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #B1103C, #781E36);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #B1103C, #781E36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  -moz-box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  color: #f9f9f9;
  margin-top: 40px;
  min-height: 50px;
  padding: 10px 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
@media (max-width: 768px) {
  .content-box {
    height: 58px;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
  }
  .login-form {
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .content-box h3 {
    font-size: 1.5em;
  }
  .login-text-intro {
    padding: 1px 20px;
  }
  .reg {
    display: none;
  }
  .login-form {
    height: auto;
  }
  .reg-again {
    display: block;
  }
}
