{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
Home - BMNC
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main_page.css' %}">
{% endblock %}

{% block content %}
<div class="all-content">
	<div class="container">
		<div class="temp">
			<div class="title-div">
				<div class="row">
					<div class="col-sm-9">
						<h3>Hot Topics</h3>
					</div>
	          		<div class="col-sm-3 text-right">
	          			<!-- Trigger the modal with a button -->
						<!--<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">Add News</button>-->
						{% if request.session.is_login == "login" %}
						<button class="button button4" data-toggle="modal" data-target="#myModal"><span>Create News</span></button>
						{% endif %}
						<!-- Modal -->
						<div id="myModal" class="modal fade" role="dialog">
							<div class="modal-dialog">

							    <!-- Modal content-->
							    <form method="POST" action="{% url 'apps-public:create-News' %}">
							    	{% csrf_token %}
							    
							    <div class="modal-content">
							    	<div class="modal-header mod-header">
								        <button type="button" class="close" data-dismiss="modal">&times;</button>
								        <h4 class="modal-title">Wazzup Lambe?</h4>
								    </div>
								    <div class="modal-body mod-body">
								    	<div class="form-group" >
								    		<label for = "{{ form_berita.Judul_for_label}}">{{form_berita.Judul.label}}</label>
                  							{{form_berita.Judul}}		                					
								      	</div>
								      	
								      	<!--div class="form-group">
								      		<label for = "{{ form_berita.Url_for_label}}">{{form_berita.Url.label}}</label>
                  							{{form_berita.Url}}
                  							<div class = "notif">
                  								  <small>Url has been taken, please insert other urls</small>
                  							</div>        						
								      	</div-->
								      	<div class="form-group">
								      		<label for = "{{ form_berita.Topik_for_label}}">{{form_berita.Topik.label}}</label>
                  							{{form_berita.Topik}}		    		                					
								      	</div>
								      	<div class="form-group">
								      		<label for = "{{ form_berita.JumlahKata_for_label}}">{{form_berita.JumlahKata.label}}</label>
                  							{{form_berita.JumlahKata}}
		                  				
		                					
								      	</div>
								      	<div class="form-group">
								      		<label for = "{{ form_berita.Tag_for_label}}">{{form_berita.Tag.label}}</label>
                  							
								      		<p style="text-align:left"><small>Enter the tags and saparate with commas<small></p>
		                  					{{form_berita.Tag}}
		                  					
		                				</div>
		                				<hr class="style14" style="opacity:0.1">
		                				<input type="submit" value="submit" class="btn btn-block btn-lg btn-default">
								    </div>
								    <div class="modal-footer">
								    	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								    </div>
								</div>
							</form>

							</div>
						</div>
	          		</div>
	          	</div>
	        </div>
        	<div class="reg-form">
				<div class="row">
					<div class="col-sm-8">
						{% if news %}
                        	{% for berita in news %}
								<a href="/news/detail/"><div class="panel panel-default news-box">
									<div class="panel-body">
										<div class="row">
											<div class="col-sm-4">
												<img src=https://image.ibb.co/eBitgc/pexels_photo_635705.jpg class="img-news" height="150" width="230">
											</div>
											<div class="col-sm-8">
												<h4><b>{{berita.judul}}</b></h4>
												<h5><small> Posted on {{berita.created_at}}</small></h5>
											</div>
										</div>
									</div>
								</div>
								</a>
							{% endfor %}
                        {% else %}
                        <div class="alert alert-danger text-center">
                        <strong>Oops!</strong> No data yet.
                        </div>
                        {% endif %}

						<!--
						<div class="panel panel-default news-box">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-4">
										<img src=https://image.ibb.co/eBitgc/pexels_photo_635705.jpg class="img-news" height="150" width="230">
									</div>
									<div class="col-sm-8">
										<h4><b>[Upcoming] I’m Sayantan Das, managing director of Foodpanda Malaysia. Ask me anything!</b></h4>
										<h5><small> Posted on June 6 2018 </small></h5>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default news-box">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-4">
										<img src=https://image.ibb.co/eBitgc/pexels_photo_635705.jpg class="img-news" height="150" width="230">
									</div>
									<div class="col-sm-8">
										<h4><b>[Upcoming] I’m Sayantan Das, managing director of Foodpanda Malaysia. Ask me anything!</b></h4>
										<h5><small> Posted on June 6 2018 </small></h5>
									</div>
								</div>
							</div>
						</div>-->

					</div>
					<div id="news-bar" class="col-sm-4">
						<!--<div class="panel panel-default pad">
							<div class="panel-heading">All News</div>
							<div class="panel-body sizing">
								<div class="list-group">
									<a href="#" class="list-group-item">Asia news roundup: Xiaomi finally files for IPO, Amazon makes Flipkart offer, and more</a>
									<a href="#" class="list-group-item">[Upcoming] I’m Sayantan Das, managing director of Foodpanda Malaysia. Ask me anything!</a>
									<a href="#" class="list-group-item">Third item</a>
								</div>
							</div>
						</div>-->
							<div class="news-title">
	                    		<h3 style="color: #575C5D"><b>All News</b></h3>
	                    	</div>
		                    <div class="list-news">
		                    	<div class="list-group">
		                    		{% if news %}
                        				{% for berita in news %}
		                    				<a href="#" class="list-group-item">{{berita.judul}}</a>
		                    			{% endfor %}
			                        {% else %}
				                        <div class="alert alert-danger text-center">
				                        <strong>Oops!</strong> No data yet.
				                        </div>
			                        {% endif %}
		                    	</div>
		                    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
 <!-- <h1>This is news/home page</h1>
  <h2>{{news_page}}</h2>-->
</div>


{% endblock %}
