{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
Polling - BMNC
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/polling_page1.css' %}">
{% endblock %}


{% block content %}

<div class="all-content">
  <div class="container">
    <div class="row">
        <div class="title-div">
        	<div class="row">
        		<div class="col-sm-6 text-left">
        			 <h3>Show Polling</h3>
        		</div>
        		<div class="col-sm-6 text-right">
               {% if request.session.is_login == 'login' %}
        			 <button class="button button4" data-toggle="modal" data-target="#news-polling"><span>Create News-Polling</span></button>
         			 <button class="button button4" data-toggle="modal" data-target="#polling" ><span>Create Polling</span></button>
               {% else %}
               {% endif %}
        		</div>
        	</div>
        </div>
          <div class="bg-box">
            <div class="row" style="padding: 30px 3px">
            <div class="col-sm-12">
              <div class="row">
                <div class="panel-group">
                  <div class="col-sm-4 col-sm-offset-2">
                    <div class="panel panel-danger">
                      <div class="panel-heading">List News-Polling</div>
                      <div class="panel-body">

                        {% if pol_news %}
                          {% for pol in pol_news %}
                            <a href="#" class="list-group-item" data-toggle="modal" data-target="#detail-poll{{pol.0}}">{{pol.1}}</a>

                             <!-- Modal -->
                             <div id="detail-poll{{pol.0}}" class="modal fade" role="dialog">
                               <div class="modal-dialog">

                               <!-- Modal content-->
                               <div class="modal-content">
                                 <div class="modal-header mod-header">
                                   <button type="button" class="close" data-dismiss="modal">&times;</button>
                                   <h4 class="modal-title" style="color:white">Polling</h4>
                                 </div>
                                 <div class="modal-body">
                                   <div class="row">
                                      <div class="col-sm-6">
                                        <div class="tanggal">
                                            <span style="font-size: 12px">Start Date</span><button type="button" class="btn-block btn btn-back btn-xs">{{pol.2}}</button>
                                            <br>
                                            <span style="font-size: 12px">End Date</span><button type="button" class="btn-block btn btn-back btn-xs">{{pol.3}}</button>
                                        </div>
                                      </div>
                                      <div class="col-sm-6">
                                        <h3><b>Total Responden</b></h3>
                                        <h2><span class="glyphicon glyphicon-user"></span>   {{pol.4}}</h2>
                                      </div>
                                    </div>
                                 </div>
                               </div>
                             </div>
                           </div>
                          {% endfor %}
                        {% else %}
                        <div class="alert alert-danger text-center">
                        <strong>Oops!</strong> No data yet.
                        </div>
                        {% endif %}

                      </div><!--panel body-->
                    </div><!--panel-->
                  </div><!--col-->
                <!--</div>panel group-->

                  <div class="col-sm-4 panel-satunya">
                    <div class="panel panel-danger ">
                      <div class="panel-heading ">List Polling</div>
                      <div class="panel-body">
                        {% if pol_reg %}
                          {% for poll in pol_reg %}
                            <a href="#" class="list-group-item" data-toggle="modal" data-target="#detail-poll-reg{{poll.0}}">{{poll.1}}</a>

                            <div id="detail-poll-reg{{poll.0}}" class="modal fade" role="dialog">
                              <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                  <div class="modal-header mod-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title" style="color:white">Polling</h4>
                                  </div>
                                  <div class="modal-body">
                                    <h2><b>{{poll.1}}</b></h2>
                                    <div class="url">{{poll.2}}</div>
                                    <br>
                                    <br>
                                    <div class="row">
                                      <div class="col-sm-6">
                                        <div class="tanggal">
                                            <span style="font-size: 12px">Start Date</span><button type="button" class="btn-block btn btn-back btn-xs">{{poll.3}}</button>
                                            <br>
                                            <span style="font-size: 12px">End Date</span><button type="button" class="btn-block btn btn-back btn-xs">{{poll.4}}</button>
                                        </div>
                                      </div>
                                      <div class="col-sm-6">
                                        <h3><b>Total Responden</b></h3>
                                        <h2><span class="glyphicon glyphicon-user"></span>   {{poll.id_polling.5}}</h2>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          {% endfor %}
                        {% else %}
                        <div class="alert alert-danger text-center">
                        <strong>Oops!</strong> No data yet.
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>






     <!-- Modal -->
  <div id="news-polling" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create News Polling</h4>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHIoDcV8hm2L7rB0AQzesX_VpKzxScSVImnhTa7fhFj6HIv9r27w" style="width:120px" class="img-circle">
          </div>
          <form method="POST" action="{% url 'apps-polling:create-NewsPolling' %}">
            {% csrf_token %}
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for = "{{ polling_berita_form.Urlberita_for_label}}">{{polling_berita_form.Urlberita.label}}</label>
                  {{polling_berita_form.Urlberita}}
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for = "{{ polling_berita_form.Startdate_for_label}}">{{polling_berita_form.Startdate.label}}</label>
                      {{polling_berita_form.Startdate}}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for = "{{ polling_berita_form.EndDate_for_label}}">{{polling_berita_form.EndDate.label}}</label>
                      {{polling_berita_form.EndDate}}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for = "{{ polling_berita_form.Questions_for_label}}">{{polling_berita_form.Questions.label}}</label>
                  {{polling_berita_form.Questions}}
                </div>
                <div class="form-group">
                  <label for = "{{ polling_berita_form.Answers_for_label}}">{{polling_berita_form.Answers.label}}</label>
                  <p style="text-align:left"><small>Enter the options and saparate with commas. ex. Option1, Option2, etc.</small></p>
                  {{polling_berita_form.Answers}}
                </div>
              </div>
            </div>
            <div class="text-right">
              <input type="submit" value="submit" class="btn btn-block btn-lg btn-default">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal untuk polling biasa -->
  <div id="polling" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Polling</h4>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHIoDcV8hm2L7rB0AQzesX_VpKzxScSVImnhTa7fhFj6HIv9r27w" style="width:120px" class="img-circle">
          </div>
          <form method="POST" action="{% url 'apps-polling:create-Polling' %}">
          {% csrf_token %}
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for = "{{ PollingForm.Deskripsi_for_label}}">{{PollingForm.Deskripsi.label}}</label>
                  {{PollingForm.Deskripsi}}
                  <label for = "{{ PollingForm.Url_for_label}}">{{PollingForm.Url.label}}</label>
                  {{PollingForm.Url}}
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for = "{{ PollingForm.Startdate_for_label}}">{{PollingForm.Startdate.label}}</label>
                      {{PollingForm.Startdate}}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for = "{{ PollingForm.EndDate_for_label}}">{{PollingForm.EndDate.label}}</label>
                      {{PollingForm.EndDate}}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for = "{{ PollingForm.Questions_for_label}}">{{PollingForm.Questions.label}}</label>
                  {{PollingForm.Questions}}
                </div>
                <div class="form-group">
                  <label for = "{{ PollingForm.Answers_for_label}}">{{PollingForm.Answers.label}}</label>
                  <p style="text-align:left"><small>You can input answers up to 5 answers. But leave it empty for least than 5 answers.</small></p>
                  {{PollingForm.Answers}}
                </div>
              </div>
            </div>
            <div class="text-right">
              <input type="submit" value="submits" class="btn btn-block btn-lg btn-default">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
